<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<!-- <button>
  <%= link_to "Add new post", new_post_path, class: "btn btn-danger" %>
</button> -->
<div class="container">

<h1 class="center">Welcome</h1>
<hr>

    <div class="row">
      <div class="text-center">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#mynewpost">
            New Post
          </button>
      </div>
    </div>

    <br>
    <hr>

    <!-- Modal  create action -->
      <%= form_for(@post, remote: true) do |f| %>
        <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Post</h4>
            </div>

            <div class="modal-body">
              <div class="field">
                <%= f.label :title %><br>
                <%= f.text_area :title, class: "form-control post_title" %>
              </div>
              <div class="field">
                <%= f.label :content %><br>
                <%= f.text_area :content, class: "form-control post_content" %>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">Close</button>
              <%= f.submit "Create", class: "btn btn-default" %>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    <!-- Modal -->

    <div class="row" id="container_posts">
           <%= render @posts %>
       </div>
</body>
</html>
